.row.featurette.note
  %a{href: "#{trip_note_path(@trip, note)}", class: 'nostyle'}
    - if note.image?
      = render 'note_with_image', note: note
    - else
      = render 'note_without_image', note: note
%hr.featurette-divider
