.container
  %h1= t('.headline')
  %p=  t('.subheadline')
- unless @carousel_items.blank?
  = render partial: 'carousel', locals: { trips: @carousel_items }
- if @trips
  .container.marketing.trip
    = render partial: 'trip', collection: @trips
